<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LabZSK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="LabZKT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <LabZSK.Properties.Settings>
      <setting name="Skin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Delay" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="CanEditOptions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstMark" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SecondMark" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="ThirdMark" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Culture" serializeAs="String">
        <value>pl-PL</value>
      </setting>
      <setting name="CultureIdx" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsDevConsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CanCloseLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="simStart" serializeAs="String">
        <value>1970-01-01</value>
      </setting>
      <setting name="simStop" serializeAs="String">
        <value>1970-01-02</value>
      </setting>
      <setting name="isServerVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RunIdx" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="R1" serializeAs="String">
        <value>27</value>
      </setting>
      <setting name="R2" serializeAs="String">
        <value>133</value>
      </setting>
      <setting name="R3" serializeAs="String">
        <value>249</value>
      </setting>
      <setting name="G1" serializeAs="String">
        <value>96</value>
      </setting>
      <setting name="G2" serializeAs="String">
        <value>198</value>
      </setting>
      <setting name="G3" serializeAs="String">
        <value>66</value>
      </setting>
      <setting name="B1" serializeAs="String">
        <value>51</value>
      </setting>
      <setting name="B2" serializeAs="String">
        <value>72</value>
      </setting>
      <setting name="B3" serializeAs="String">
        <value>239</value>
      </setting>
      <setting name="SimTimer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RPS" serializeAs="String">
        <value>170</value>
      </setting>
      <setting name="GPS" serializeAs="String">
        <value>170</value>
      </setting>
      <setting name="BPS" serializeAs="String">
        <value>170</value>
      </setting>
      <setting name="RPAO" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="GPAO" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="BPAO" serializeAs="String">
        <value>200</value>
      </setting>
    </LabZSK.Properties.Settings>
    <LabZKT.Properties.Settings>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Skin" serializeAs="String">
        <value>Domyślny</value>
      </setting>
      <setting name="Delay" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="CanEditOptions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SkinNum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FirstMark" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SecondMark" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="ThirdMark" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Culture" serializeAs="String">
        <value>pl-PL</value>
      </setting>
      <setting name="CultureIdx" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsDevConsole" serializeAs="String">
        <value>True</value>
      </setting>
    </LabZKT.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ApplicationForStudents" value="false"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>